<hr style="border:5px solid #002060"> </hr>

# pandas Fundamentals <hr style="border:4.5px solid #002060"> </hr>

## Introduction to pandas Series

Import the 'pandas' library to load it into the computer's memory, so that you can work with it in this Notebook Document.

<br/> *Note: Don't forget to use the widely-accepted convention as well.*

<br/> Remember that no matter how many times you execute this code cell, the library will be imported only once in this Document, and it will remain active.

In [207]:
import pandas as pd

Create the **employee_names** list.

In [209]:
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names

['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']

Verify the **employee_names** object is a list.

In [211]:
type(employee_names)

list

Create a pandas Series object containing the elements from the **employee_names** list. Call it **employee_names_Series**.

In [213]:
employee_names_Series= pd.Series(employee_names)
employee_names_Series

0             Amy White
1          Jack Stewart
2    Richard Lauderdale
3          Sara Johnson
dtype: object

Confirm the object is of the Series type.

In [215]:
type(employee_names_Series)

pandas.core.series.Series

Now, create a Series object directly. That is, not from an existing list, but by using the following structure:
**pd.Series([...])**
<br/>Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object **work_experience_yrs.**

Import the 'NumPy' package to load it into the computer's memory, so that you can work with it in this Notebook Document.

*Note: Don't forget to use the widely-accepted convention as well.*

In [219]:
import numpy as np
work_experience_yrs= pd.Series([5,8,3,10])
work_experience_yrs

0     5
1     8
2     3
3    10
dtype: int64

Execute the code cell below to create the **array_1** NumPy array object.

In [221]:
array_age = np.array([50, 53, 35, 43])
array_age

array([50, 53, 35, 43])

Verify the type of the **array_age** object:

In [223]:
type(array_age)

numpy.ndarray

Create a Series object called **series_age** from the NumPy array object **array_age** you just created.

In [225]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int32

Check the type of the newly created object.

In [227]:
type(series_age)

pandas.core.series.Series

Use the *print()* function to display the content of **series_age**.

In [229]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int32

## Working with Methods in Python

Consider the following Series object.

In [232]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

Use a certain method to extract the top five values from this Series.

In [234]:
employees_work_exp.head()

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

Use another method to extract the last few rows of **employees_work_exp**.

In [236]:
employees_work_exp.tail()

Daniel Lloyd          6.0
John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

## Using .unique() and .nunique()

Load the "Region.csv" file and use the .squeeze() method to convert it into a series. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [239]:
region_data= pd.read_csv('Region.csv').squeeze()
region_data.head()

0    Region 2
1    Region 6
2    Region 3
3    Region 2
4    Region 3
Name: Region, dtype: object

Verify that **region_data** is a Series object.

In [241]:
type(region_data)

pandas.core.series.Series

Use the *.describe()* method to obtain descriptive statistics on the **region_data** Series.
<br>Think of how many unique values there are in the data set. 
<br>*Please note that the statistics provided in the output exclude missing data.*

In [243]:
region_data.describe()

count         1042
unique          18
top       Region 6
freq           326
Name: Region, dtype: object

You can obtain some of the values from the previous output by using Python built-in functions or methods. Please extract the total number of values from the **region_data** Series, then the number of unique values. Finally, obtain a list containing all unique values from this Series.

In [245]:
# Total number of values
total_values = region_data.size

# Number of unique values
unique_count = region_data.nunique()

# List of all unique values
unique_values_list = region_data.unique().tolist()

# Display the results
print("Total number of values:", total_values)
print("Number of unique values:", unique_count)
print("List of unique values:", unique_values_list)

Total number of values: 1042
Number of unique values: 18
List of unique values: ['Region 2', 'Region 6', 'Region 3', 'Region 1', 'Region 5', 'Region 9', 'Region 7', 'Region 4', 'Region 12', 'Region 16', 'Region 8', 'Region 10', 'Region 13', 'Region 15', 'Region 11', 'Region 14', 'Region 17', 'Region 18']

## Using .sort_values()

Sort the values without specifying any arguments.

*Please note that the numbers go from 1 to 18, but we are currently ordering the values as labels, not integers. 1 is succeeded by 10, then 11, and so on until 18. Then we have 2, 3, 4, etc., until 8, and eventually - 9.*

In [249]:
region_data.sort_values()

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

Sort the values, setting the *ascending* parameter equal to *True*.

In [251]:
region_data.sort_values(ascending=True)

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

Sort the values in **region_data** in descending order.

In [253]:
region_data.sort_values(ascending=False)

450    Region 9
842    Region 9
141    Region 9
940    Region 9
8      Region 9
         ...
569    Region 1
892    Region 1
558    Region 1
557    Region 1
309    Region 1
Name: Region, Length: 1042, dtype: object

## Introduction to pandas DataFrames

Import the pandas and numpy libraries by using the relevant well-known conventions.

In [256]:
import pandas as pd
import numpy as np

The goal of this exercise is to solidify your knowledge and understanding of the fundamentals of using pandas DataFrames.

Execute the next code cell to create the array called **array_c**.

In [259]:
array_c = np.array([[1000, 50, 78.45], [700, 112, 35.5]])
array_c

array([[1000.  ,   50.  ,   78.45],
       [ 700.  ,  112.  ,   35.5 ]])

Convert **array_c** into a DataFrame, called **company_statistics**. Assign the column names and row labels from the following lists as column names and index of this DataFrame, respectively.

In [261]:
# column names
column_names=['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)']

In [262]:
# row labels
row_labels=['Company A', 'Company B']

In [263]:
company_statistics = pd.DataFrame(array_c, columns=column_names, index=row_labels )

Display the **company_statistics** DataFrame.

In [265]:
company_statistics

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [268]:
sales_products_data= pd.read_csv('Sales-products.csv')

Verify that the obtained object is a pandas DataFrame.

In [270]:
type(sales_products_data)

pandas.core.frame.DataFrame

Try out a well-known pandas method used for Series on this DataFrame to obtain its last five rows.

In [272]:
sales_products_data.tail()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

## pandas DataFrames - Common Attributes

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [276]:
sales_products_data = pd.read_csv('Sales-products.csv')

Return the index of the **sales_products_data** DataFrame.

In [278]:
sales_products_data.index

RangeIndex(start=0, stop=1276, step=1)

Verify that **sales_products_data** is a RangeIndex object in an alternative way by using the **type()** funciton.

In [280]:
isinstance(sales_products_data.index, pd.RangeIndex)

True

Retrieve and Index object containing all column names from the **sales_products_data** DataFrame.

In [282]:
sales_products_data.columns

Index(['SaleID', 'RetailerCountry', 'OrderMethod', 'RetailerType',
       'ProductLine', 'ProductType', 'Product', 'Year', 'Quarter', 'Revenue',
       'Quantity', 'GrossMargin'],
      dtype='object')

You are requested to create a new DataFrame, called **df**, whose data is obtained from the the names of the columns of **sales_products_data** DataFrame, while the column names are obtained from the **new_column_names** list.
<br/><br/> First, execute the next cell to create **new_column_names**, and then in the next cell try creating the **df** DataFrame yourself (by helping yourself with the newly created **new_column_names** list).
<br/><br/> *Note: There are two ways to achieve this - one would be through utilizing the* **columns** *parameter, and the other â€“ with the help of the* **"columns"** *attribute. Choose whichever option you prefer (or why not try both!).*

In [284]:
new_column_names = ['SaleID', 'Country', 'OrderMethod', 'Retailer', 'Line',
       'Type', 'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity',
       'Margin']

In [285]:
df = pd.DataFrame([sales_products_data.columns], columns=new_column_names)

In [286]:
df

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin

Display the "head" of the **df** DataFrame.

In [288]:
df.head()

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
0,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin

Use an attribute to obtain metadata about the types of data stored in the different columns of the **sales_products_data** DataFrame.

In [290]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SaleID       1 non-null      object
 1   Country      1 non-null      object
 2   OrderMethod  1 non-null      object
 3   Retailer     1 non-null      object
 4   Line         1 non-null      object
 5   Type         1 non-null      object
 6   Product      1 non-null      object
 7   YearOfSales  1 non-null      object
 8   Quarter      1 non-null      object
 9   Revenue      1 non-null      object
 10  Quantity     1 non-null      object
 11  Margin       1 non-null      object
dtypes: object(12)
memory usage: 228.0+ bytes

Obtain a Numpy array containing all values of the **sales_products_data**.
<br/><br/> *Note: There are two ways to achieve this! Try both, but keep in mind that pandas developers advise us to stick to using the method.*

In [292]:
values_array_1=sales_products_data.values

In [293]:
values_array_2=sales_products_data.to_numpy()

Verify that the obtained objects are NumPy arrays with the help of the "Type" function.

In [295]:
#Import the pandas and numpy libraries by using the relevant well-known conventions.

import pandas as pd
import numpy as np

In [296]:
type(values_array_1)
type(values_array_2)

numpy.ndarray

Obtain the number of rows and columns in the **sales_products_data** DataFrame.

In [298]:
sales_products_data.shape

(1276, 12)

Check if the output obtained in the previous cell is a tuple.

In [300]:
type(sales_products_data.shape)

tuple

## Data Selection in pandas DataFrames

Although we are not advised to, retrieve the data from the 'Product' column from the **sales_products_data** column *without* using the indexing operator **[ ]**.

Retrieve the data from the 'Product' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [304]:
sales_products_data['Product']

0       TrailChef Deluxe Cook Set
1          TrailChef Double Flame
2                       Star Dome
3                    Star Gazer 2
4              Compact Relief Kit
                  ...
1271                Husky Rope 60
1272        Firefly Climbing Lamp
1273              Firefly Charger
1274                  Granite Axe
1275              Granite Extreme
Name: Product, Length: 1276, dtype: object

Apply the **.tail()** method to the code you used in your previous response to obtain the last five rows from the "Product" column.

In [306]:
sales_products_data['Product'].tail()

1271            Husky Rope 60
1272    Firefly Climbing Lamp
1273          Firefly Charger
1274              Granite Axe
1275          Granite Extreme
Name: Product, dtype: object

Although we are not advised to, retrieve the data from the 'Quarter' column from the **sales_products_data** column *without* using the indexing operator **.[ ]**.

Retrieve the data from the 'Quarter' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [309]:
sales_products_data['Quarter']

0       Q1 2018
1       Q1 2018
2       Q1 2018
3       Q1 2018
4       Q1 2018
         ...
1271    Q3 2020
1272    Q3 2020
1273    Q3 2020
1274    Q3 2020
1275    Q3 2020
Name: Quarter, Length: 1276, dtype: object

Use any of the 4 previous examples to verify that the data obtained from a column of a DataFrame is actually stored in a Series object:

In [311]:
isinstance(sales_products_data['Quarter'], pd.Series)

True

<br> Use a well-know attribute and attribute chaining to obtain information about the type of data stored in the "Revenue" column.

In [313]:
sales_products_data['Revenue'].dtype

dtype('float64')

**Selecting multiple columns from a DF**

Use a list with column names within the indexing operator ([ ]) to extract data from the 'Revenue' and 'Quantity' columns from the **sales_products_data** DataFrame. Use the **.head()** method to only display the top five rows of the selection.  <br>
Solve the problem by using a single line of code.

In [316]:
sales_products_data[['Revenue', 'Quantity']].head()

    Revenue  Quantity
0  59728.66     491.0
1  36050.32     254.0
2  90040.48     149.0
3       NaN     305.0
4       NaN     182.0

Can you think of a more elegant way to obtain the same result? This option is more often encountered in professional work since it improves the legibility of your code.

In [318]:
sales_products_data.loc[:, ['Revenue', 'Quantity']].head()

    Revenue  Quantity
0  59728.66     491.0
1  36050.32     254.0
2  90040.48     149.0
3       NaN     305.0
4       NaN     182.0

## pandas DataFrames - Indexing with .iloc[]

Select the data from the first row from the **sales_products_data** DataFrame (don't forget that in programming we start counting from 0!).

In [321]:
sales_products_data.iloc[0]

SaleID                              SaleID_1
RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: 0, dtype: object

Select the data from the penultimate row from the **sales_products_data** DataFrame.

In [323]:
sales_products_data.iloc[-2]

SaleID                      SaleID_1275
RetailerCountry                   Spain
OrderMethod                 Sales visit
RetailerType              Outdoors Shop
ProductLine        Personal Accessories
ProductType                       Tools
Product                     Granite Axe
Year                             2020.0
Quarter                         Q3 2020
Revenue                         56499.0
Quantity                         1472.0
GrossMargin                    0.490667
Name: 1274, dtype: object

Select the value from the second row and sixth column of **sales_products_data** by using the **.iloc[]** accessor.
<br><br> *Hint: If you've worked correctly, you should obtain 'Cooking Gear'.*

In [325]:
sales_products_data.iloc[1,5]

'Cooking Gear'

Use the **.shape** attribute to discover the largest numbers that you can use as arguments of the **.iloc[]** accessor.

In [327]:
sales_products_data.shape

(1276, 12)

Considering the values you just obtained, use the **.iloc[]** accessor find out the value that has been stored in the last row and farthest-to-the-right column.

In [329]:
sales_products_data.iloc[-1,-1]

0.38689474

Verify that you've obtained the correct value by applying the **.tail()** method to the **sales_products_data** DataFrame.
<br> Observe the value that is farthest to the right on the last row.

In [331]:
sales_products_data.tail()

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

Prove that **.iloc[]** can be applied to a Series object such as **sales_products_data['Product']** as well (e.g. by obtaining the first element from this column).
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*
<br> *This note applies to this and the next task.*

In [333]:
sales_products_data['Product'].iloc[0]

'TrailChef Deluxe Cook Set'

Although we are not advised to, when working with a Series object, we can obtain the same output without using the **.iloc[]** indexer and using "classical" Python indexing. Can you try that out?

In [335]:
sales_products_data['Product'][0]

'TrailChef Deluxe Cook Set'

## pandas DataFrames - Indexing with .loc[]

Retrieve the values from the first row of the DataFrame by using the specified label-based index rather than the default numeric index.

In [338]:
sales_products_data.loc[0]

SaleID                              SaleID_1
RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: 0, dtype: object

By using the specified label-based index again, retrieve the information stored in the 'GrossMargin' column for the 4th sale.

In [340]:
sales_products_data['GrossMargin'].loc[3]

0.29293788

Obtain a DataFrame containg the values stored in all columns for sales numbered 15, 235, and 1147 by using the **.loc[]** indexer.

In [342]:
sales_products_data.loc[[15, 235, 1147]]

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
15,SaleID_16,United States,Web,Mall,Camping Equipment,Knives,Max Gizmo,2018.0,Q1 2018,12362.20,323.0,0.549791
235,SaleID_236,Mexico,Web,Mall,Camping Equipment,Binoculars,Ranger Vision,2018.0,Q3 2018,5700.00,37.0,0.370000
1147,SaleID_1148,Germany,Phone,Department Store,Camping Equipment,Lanterns,EverGlow Lamp,2020.0,Q1 2020,44998.55,1670.0,0.524364

With the help of the **.loc[]** indexer, select the last 5 records from the 'Year' column.

In [344]:
sales_products_data['Year'].loc[[15, 235, 1147]]

15      2018.0
235     2018.0
1147    2020.0
Name: Year, dtype: float64